[Unit]
Description=Supervisor daemon
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=/home/ec2-user/environment/webApp/venv/bin/supervisord -n -c /home/ec2-user/environment/webApp/gunicorn.conf
ExecStop=/home/ec2-user/environment/webApp/venv/bin/supervisorctl $OPTIONS shutdown
ExecReload=/home/ec2-user/environment/webApp/venv/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
Alias=supervisord.service