{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}
{% block head %}

<link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="theme-color" content="#000000">
    <meta name="google" content="notranslate">
    <title>Sports spaces provider | Hong Kong booking system</title>



    <!-- Fix ios 11.1 modal bug-->
    <style>

.topnav a {
  float: left;
  display: block;
  color: black;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.collapse navbar-collapse justify-content-end {
  position: relative;
}

</style>
    <!-- Google Optimize -->
<style>
    .async-hide {
        opacity: 0 !important
    }
</style>
<!-- End Google Optimize -->

{% endblock head %}
{% block navbar %}
    <div class="float animated" style="position: relative; z-index: 1001; width: 100%;"></div>
    <div class="CommonLibraryNavBar">
	<nav class="navbar navbar-light navbar-expand-lg   dark-color">
	<div>
		<div class="navbar-brand logo my-2 my-md-3 mx-2 mx-md-0">
			<a class="navbar-brand" href="{{ url_for('main.index') }}"><img style="float: left" src="https://fype03.s3.amazonaws.com/image/icon.png" width="120" height="110"></a>
		</div>
	</div>
	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<div class="flex-column justify-content-end">
			<div class="topnav justify-content-end">
				<ul class="navbar-nav main-nav justify-content-end">
					<li class="nav-item mx-1 text-center "><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
					<li class="nav-item mx-1 text-center "><a href="https://54.172.162.248:8081/" class="nav-link pb-1 px-2">Online shop</a></li>
					<li class="nav-item mx-1 text-center "><a href="{{ url_for('main.Mobplanlist') }}"class="nav-link pb-1 px-2">LOCATIONS/SERVICE</a></li>
					<li class="nav-item mx-1 text-center "><a href="{{ url_for('main.Community') }}"class="nav-link pb-1 px-2">COMMUNITY</a></li>
					<li class="nav-item mx-1 text-center "><a href="{{ url_for('main.announcement') }}"class="nav-link pb-1 px-2">Announcement</a></li>
					<li class="nav-item mx-1 text-center "><a href="{{ url_for('main.CONTACT') }}"class="nav-link pb-1 px-2">CONTACT</a></li>
                <div class="main-nav-icon">
                    {% if current_user.is_anonymous %}
                        <li>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" style="background-color:transparent">

                            <img style="float: left" src="https://fype03.s3.amazonaws.com/image/people.png" width="35" height="35">
                            {{ _('LOGIN') }}
                        </button>

                        </li>
                    {% else %}
                        <div class="dropdown show">
                              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                              </a>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                                </div>
                        </div>
                    {% endif %}
                </div>
				</ul>

			</div>
		</div>
	</div>

	</nav>
</div>
{% endblock %}

{% block content %}

    <div class="container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>








    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">



                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><b>USER LOGIN</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                                                <form id="login-form" action="" method="post" role="form" style="display: block;">
                          <div class="modal-body">
                              <div class="form-group">
                                  <div class="row">
                                      <div class="input-group my-2">
                                          <div class="col-12">
                                              <div style="margin: 10px 0px;">
                                              </div>
                                                <div class="input-block tget_txt_account">


                                                    <div class="row">
                                                        <div class=col-12">
                                                            {{ wtf.quick_form(form) }}
                                                        </div>
                                                    </div>

                                                        <br>

                                                            <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>

                                                                <p>
                                                                    {{ _('Forgot Your Password?') }}
                                                                    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
                                                                </p>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </form>
            </div>
        </div>
    </div>












<!-- 這個等等del,沒有用的,先留住. -->
{% block current_app_content %}{% endblock %}
<!-- 以上 -->








{% block footer %}
    <footer class="p-3 mb-2 bg-info text-white">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-white">©Hong Kong booking system | 2021-2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small" >
              <li><a class="text-white" href="#">Cool stuff</a></li>
              <li><a class="text-white" href="#">Random feature</a></li>
              <li><a class="text-white" href="#">Team feature</a></li>
              <li><a class="text-white" href="#">Stuff for developers</a></li>
              <li><a class="text-white" href="#">Another one</a></li>
              <li><a class="text-white" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="#">Resource</a></li>
              <li><a class="text-white" href="#">Resource name</a></li>
              <li><a class="text-white" href="#">Another resource</a></li>
              <li><a class="text-white" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="#">Team</a></li>
              <li><a class="text-white" href="#">Locations</a></li>
              <li><a class="text-white" href="#">Privacy</a></li>
              <li><a class="text-white" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>

{% endblock %}






























        {# current_application content needs to be provided in the current_app_content block #}

{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
