<link rel="stylesheet" href="css/popup.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!--Card-->
<div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-md-6 text-left text-white lcol">
            <img width="550" height="500" class="pull-right" src="{{ popup.govimg }}">
        </div>
        <div class="col-md-6 rcol">
            <form class="sign-up">
                <h2 class="heading mb-4">{{ popup.Venue_Name }}</h2>
                <div class="form-group fone mt-2"> <input type="class" class="form-control" placeholder="Select the place..."> </div>
                    <div class="form-group fone mt-2"> <input type='text' class="form-control" name="datetime" id="datetime" placeholder="Start Date time"> </div>
                    <div class="form-group fone mt-2"> <input type="text" class="form-control" name="datetime" id="datetime" placeholder="End Date time">
                <div class="image"></div>
                </div> <input type="checkbox" class="form-check-input ml-0" id="exampleCheck1"> <label class="form-check-label ml-3" for="exampleCheck1">I agree to Stoke <u>Terms</u> and <u>Privacy Policy</u></label>
            </form> <button type="button" class="btn btn-success mt-5">Get satrted now</button>
        </div>
    </div>
</div>


<script>
flatpickr("#datetime", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
});
</script>