{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block content %}


<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
            <hr>
            
            <!-- BEGIN FILTER BY CATEGORY -->
            <form action="" method="post" autocompleted="off">
            <h4>By category:</h4>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorys..
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for Categorys in group2 %}
                <a class="dropdown-item" href="#">{{Categorys.Category}}</a>
                {% endfor %}
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for imgs in group3 %}
                <a class="dropdown-item" href="#">{{imgs.govimg}}</a>
                {% endfor %}
              </div>
            </div>
            <select id="searchbar1" name="searchbar1" class="form-control">
              <option selected="selected"></option>
              {% for Categorys in group2 %}
              <option value={{Categorys.Category}}>{{Categorys.Category}}</option>
              {% endfor %}
            </select>
            <h4>By District:</h4>
            <select id="searchbar2" name="searchbar2" class="form-control">
              <option selected="selected"></option>
              {% for Districts in group %}
              <option value={{Districts.District}}>{{Districts.District}}</option>
              {% endfor %}
            </select>
            <!-- END FILTER BY CATEGORY -->
            
            <div class="padding"></div>
            
            <!-- BEGIN FILTER BY DATE -->
            <h4>By date:</h4>
            From
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
              <input type="text" class="form-control">
              <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input1" value="">
            
            To
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input type="text" class="form-control">
              <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input2" value="">
            <!-- END FILTER BY DATE -->
            
            <div class="padding"></div>
            
            <!-- BEGIN FILTER BY PRICE -->
            <h4>By price:</h4>
            Between <div id="price1">$300</div> to <div id="price2">$800</div>
            <div class="slider-primary">
              <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
            </div>
            <!-- END FILTER BY PRICE -->
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2><i class="fa fa-file-o"></i> Result</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->

            <div class="input-group">
              <input id="searchbar" name="searchbar" type="text" class="form-control" placeholder="Enter any key word">
              <span class="input-group-btn">
                <input class="btn btn-primary" value="Search" type="submit" name=""><i class="fa fa-search"></i></input>
              </span>
            </div>
            </form>

            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Name</a></li>
                    <li><a href="#">Date</a></li>
                    <li><a href="#">View</a></li>
                    <li><a href="#">Rating</a></li>
                  </ul>
                </div>
              </div>
              <!-- END ORDER RESULT -->
              
              <div class="col-md-6 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                  <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                </div>
              </div>
            </div>
            
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive bootstrap-iso">
              <table class="table table-hover">

                <tbody>
                {% for govlists in govlist.items %}
                <tr class='click2book' data-id='{{ govlists.govid }}' data-bs-toggle="modal" data-bs-target="#empModal">
                  <td class="number text-center">{{ govlists.govid }}</td>
                  <td class="image"><img src="{{ govlists.govimg }}" alt=""></td>
                  <td class="product"><strong>{{ govlists.Venue_Name }}</strong><br>{{ govlists.Address }}</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                  <td class="price text-right">$350</td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>
            <!-- END TABLE RESULT -->
            
            <!-- BEGIN PAGINATION -->
   <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if govlist.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('main.Mobplanlist', page=govlist.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}
      
                   {% for page in govlist.iter_pages(left_edge=3, right_edge=3) %}
                   {% if page %}
                    
                    {% if page==govlist.page %}
                     <li class="page-item active"><a class="page-link" href="{{ url_for('main.Mobplanlist', page=page) }}">{{ page }}</a></li>
                    {% else %}
                     <li class="page-item"><a class="page-link" href="{{ url_for('main.Mobplanlist', page=page) }}">{{ page }}</a></li>
                    {% endif %}
                     
                     {% else %}
                      <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
                     {% endif %}
                     {% endfor %}
 
                    {% if govlist.has_next %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('main.Mobplanlist', page=govlist.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}
 
                </ul>
    </nav>
            <!-- END PAGINATION -->
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>

<style type="text/css">
body{margin-top:20px;
background:#eee;
}

.btn {
    margin-bottom: 5px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 25px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
	width: 50px;
}

.search table tr td img {
	width: 50px;
	height: 50px;
}

.search table tr td.rate {
	color: #f39c12;
	line-height: 25px;
}

.search table tr td.price {
	font-size: 1.5em;
	line-height: 50px;
}

.search #price1,
.search #price2 {
	display: inline;
	font-weight: 600;
}
</style>


            </div>
        </div>    
    </div>    
    </div>
</div>    

<script type='text/javascript'>
$(document).ready(function(){
    $('.click2book').click(function(){
        var govid = $(this).data('id');
        $.ajax({
            url: '/booking',
            type: 'post',
            data: {govid: govid},
            success: function(data){ 
                $('.modal-body').html(data); 
                $('.modal-body').append(data.htmlresponse);
                $('#empModal').modal('toggle'); 
            }
        });
    });
});
</script>
            
        </div>



          <div class="modal" id="empModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="F">
                <div class="modal-dialog modal-xl" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Booking</h4>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
        </div>
        
        
        <div class="modal" id="empModal2" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="F">
                <div class="modal-dialog modal-xl" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Summary</h4>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
        </div>


        

{% endblock %}
